@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}
li, a, button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--font-color1);
  text-decoration: none;
}
body {
  overflow-x: hidden !important;
}
.hidden {
  display: none !important;
}
/* Variables */
.search-container {
  width: auto;
  margin-top: -85px;
  margin-left: 140px;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 25px;
}
.logo {
  width: auto;
  margin: -10px;
  margin-left: 10px;
  height: 100px;
  margin-bottom: 20px;
}
.search-container2 {
  width: auto;
  margin: -0px;
  margin-left: 900px;
  height: 100px;
}
input[type="text"] {
  display: block;
  width: calc(25% - 24px); /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
}

.darksection {
  background-color: lightblue;
  color: lightblue;
}
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}